* {
  margin: 0;
  padding: 0;
}

.Navbar {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 2%;
  padding-bottom: 2%;
}

.itemList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3%;
}

.categoria {
  text-align: left;
  color:rgb(197, 115, 8);
  margin-left: 3%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: all 200ms ease;
  padding: 1%;
  margin: 1%
}

.card:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5)
}

.card img {
  width: 250px;
  height: 300px;
}

.card a {
  text-decoration: none;
  text-align: center;
  color:black;
}

.ItemDetail {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 3%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: all 200ms ease;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
}

.ItemData {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ItemData h1 {
  color:rgb(197, 115, 8);
}

.ItemData h2 {
  color:black;
}

.carrito {
  background-color:rgb(197, 115, 8);
  border-radius: 5px;
  border: 0px;
  height: 40px;
  padding: 1%;
  width: 150px;
  text-decoration: none;
  text-align: center;
  color: black;
  margin: 2%
}

.carrito:hover {
  background-color:rgb(89, 134, 155);
  color: black
}

.contenedorContador {
  display: flex;
  flex-direction: row;
}


.contador {
  border-radius: 100px;
  height: 30px;
  width: 40px;
  color:black;
}

.cantidad {
  color:black;
  text-align: center;
  width: 100px;
}

.imagen{
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 3%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: all 200ms ease;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;

}

.order {
  text-align: center;
}


.formControl {
  padding-bottom: 5%
}

.order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: all 200ms ease;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
}