* {
  margin: 0;
  padding: 0;
}

.Navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
}

ul {
  list-style: none;
}

.Navbar .nav-items li {
  float:left
}

.nav-items a {
  text-decoration: none;
  display: block;
  color: black;
  margin: 30px;
  font-size: 20px;
}

.nav-items li ul {
  display:none;
  position: absolute;
  min-width: 70px;
  background-color:burlywood
}

.nav-items li:hover > ul {
  display:block
;}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 3%
}